---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - mind.kubemind.io
  resources:
  - asks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mind.kubemind.io
  resources:
  - asks/finalizers
  verbs:
  - update
- apiGroups:
  - mind.kubemind.io
  resources:
  - asks/status
  verbs:
  - get
  - patch
  - update
