apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubemind-controller-manager
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: kubemind
  template:
    metadata:
      labels:
        app: kubemind
    spec:
      serviceAccountName: kubemind-controller-manager
      containers:
        - name: manager
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - --health-probe-bind-address=:8081
            - --metrics-bind-address=:8080
          ports:
            - name: metrics
              containerPort: 8080
            - name: health
              containerPort: 8081
